.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantage__title{
    display: none;
  }
  
  .advantage__list {
    gap: 30px;
    flex-direction: column;
    display: flex;
  }

  .advantage__item{
    width: 450px;
  }
  
  .advantage__subtitle {
    color: $minor-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  
    margin-bottom: 10px;
    text-align: center;
  }
  
  .advantage__text {
    color: $basic-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
  
  .advantage__list > .advantage__item:nth-child(1)::before {
    content: "";
    background-image: url(../../img/antenna1.png);
    margin-bottom: 30px;
    background-color: $colorbg-team;    ;
    border-radius: 4px;
    padding: 55px 100px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/antenna1@2x.png);
      background-size: 70px;
    }
  }
  
  .advantage__list > .advantage__item:nth-child(2)::before {
    content: "";
    background-image: url(../../img/clock1.png);
    margin-bottom: 30px;
    background-color: $colorbg-team;    ;
    border-radius: 4px;
    padding: 55px 100px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    display: block;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/clock3@2x.png);
      background-size: 70px;
    }
  }
  
  .advantage__list > .advantage__item:nth-child(3)::before {
    content: "";
    background-image: url(../../img/diagram1.png);
    margin-bottom: 30px;
    background-color: $colorbg-team;
    border-radius: 4px;
    padding: 55px 100px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    display: block;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/diagram4@2x.png);
      background-size: 70px;
    }
  }
  
  .advantage__list > .advantage__item:nth-child(4)::before {
    content: "";
    background-image: url(../../img/astronaut4.png);
    margin-bottom: 30px;
    background-color: $colorbg-team;
    border-radius: 4px;
    padding: 55px 100px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    display: block;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/astronaut2@2x.png);
      background-size: 70px;
    }
  }

  @media screen and (min-width: 768px){
    .advantage__item{
      width: 354px;
    }
    .advantage__list{
      flex-direction: row;
      flex-wrap: wrap;
    }

    .advantage__subtitle{
      text-align: left;
    }
  }


  @media screen and (min-width: 1200px){
    .advantage {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
    .advantage__title{
      color: $minor-color;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
    
      margin-bottom: 50px;
    }
    
    .advantage__list {
      padding-left: 0px;
      gap: 30px;
      flex-wrap: wrap;
      flex-direction: row;
      display: flex;
    }
    
    .advantage__list > .advantage__item {
      flex-basis: calc((100% - 90px) / 4);
    }
  }



