.clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .clients__item {
    width: 210px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $clients-border;
    border-radius: 4px;
  }
  
  .clients__item:hover,
  .clients__item:focus {
    border-color: $accent-color;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
  }
  
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $minor-color;
  }
  
  .clients__list {
    justify-content: center;
    display: flex;
    gap: 30px;
    padding-top: 50px;
    flex-wrap: wrap;
  }
  
  .clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clients__svg {
    fill: $basic-color;
  }
  
  .clients__svg:hover,
  .clients__svg:focus {
    fill: $accent-color;
    transition-property: fill;
    transition-duration: 250ms;
  }



  @media screen and (min-width: 768px){
    .clients__item {
      width: 226px;
    }
  }


  @media screen and (min-width: 1200px){
    .clients {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    
    .clients__item {
      width: 170px;
    }
    
    .clients__title {
      font-size: 36px;
    }
    
    .clients__list {
      flex-wrap: nowrap;
    }
  }